*~
*.o
*.a
*.lo
*.la
*.tar.xz
*.md5sum
.*.swp
.deps
.libs
.dirstamp
.settings
build

Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
libtool

# eclipse project files
.cproject
.project

# kdevelop project files
.kdev4
pold.kdev4
src/.kdev_include_paths

test-suite.log
test/policy-test
test/policy-test.log
test/policy-test.trs
test/dbus-json-test
test/dbus-json-test.log
test/dbus-json-test.trs
test/http-client-test
test/http-client-test.log
test/http-client-test.trs

src/pold
src/pold.service
src/pold.conf
src/pold.policy
src/default.policy
stamp-h1
cscope.out
tags
